:root {
    --background: #f6f6f6;
    --font: #222;
    --border: #333;
    --screen: #eee;
    --calculator: #aaa;
    --btn: #eee;
    --btn-hover: #ddd;
    --btn-active: #ccc;
    --btn-green: rgb(85, 159, 111);
    --btn-green-hover: rgb(90, 163, 134);
    --btn-green-active: rgb(67, 134, 116);
    --btn-blue: rgb(105, 171, 218);
    --btn-blue-hover: rgb(103, 180, 221);
    --btn-blue-active: rgb(114, 179, 222);
  }
  
  body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-bottom: 100px;
  }
  
  button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }
  
  
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
  }
  
  .calculator {
    width: 400px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
  }
  
  .screen {
    padding: 10px 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--screen);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .screen-last {
    min-height: 32px;
    font-size: 20px;
  }
  
  .screen-current {
    min-height: 64px;
    font-size: 40px;
  }
  
  .btns-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .span-2 {
    grid-column: span 2;
  }
  
  .btn {
    padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    background-color: var(--btn);
    font-size: 20px;
  }
  
  .btn:hover {
    background-color: var(--btn-hover);
  }
  
  .btn:active {
    background-color: var(--btn-active);
  }
  
  #equals {
    background-color: var(--btn-blue);
    color: white;
    grid-column: span 2;
  }
  
  #equals:hover {
    background-color: var(--btn-blue-hover);
  }
  
  #equals:active {
    background-color: var(--btn-blue-active);
  }
  
  #clear {
    background-color: var(--btn-green);
    color: white;
  }
  
  #clear:hover {
    background-color: var(--btn-green-hover);
  }
  
  #clear:active {
    background-color: var(--btn-green-active);
  }

  #delete {
    background-color: var(--btn-green);
    color: white;
  }
  
  #delete:hover {
    background-color: var(--btn-green-hover);
  }
  
  #delete:active {
    background-color: var(--btn-green-active);
  }
  
  #point {
    font-size: 24px;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }